ipynb_checkpoints/*
scaling_and_verification/annotation_scaling/.ipynb_checkpoints/
scaling_and_verification/annotation_scaling/logs/
scaling_and_verification/annotation_scaling/outputs/
scaling_and_verification/automated_verification/logs/
scaling_and_verification/automated_verification/outputs/
scaling_and_verification/automated_verification/.ipynb_checkpoints/
scaling_and_verification/.ipynb_checkpoints/
